<div class="box">
  <div class="item">
    <h1>Welcome!</h1>
  </div>
  <div class="item">
    <h2>With how many letters do you want to play?</h2>
  </div>
  <div class="item">
    <form action="<%= new_path %> ">
      <input type="text" class="form-control" name="num" placeholder="10?">
      <input type="submit" class="form-control" value="num">
    </form>
  </div>
</div>
